.card{
    cursor: pointer;
}
.card-how{
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
    cursor: pointer;
    max-width: 22%;
    text-align: center;
}
.card-header-how,.card-content-how{
    font-size : 14px;
}

.card-header-offer{
}

.card-footer-offer{
    flex: 1;
    display: flex;
    flex-flow: column;
}
.card-footer-offer>div{
    flex:1;
}
.card-footer-offer .card-subtitle{
    flex: 2;
}
.card-footer-offer .card-text{
    font-weight: 600;
}
.card-footer-offer .card-title{
    font-size: 18px;
    font-weight: 600;
}


.container{
    max-width: 960px;
}
.shift-top-2{
    top: -2em;
}
.bg-f0{
    background-color: #f0f0f0;
}
.bg-33{
    background-color: #333333;
}
.bg-2d{
    background-color: #2d2d2d;
}

.portal-menu{
    height: 56px;
    background: #005ff9;
}
.portal-menu *{
    color: white;
    font-size: 15px;
    font-family: Helvetica Neue Light,Arial,Tahoma,sans-serif;
}
.portal-menu>*{
    flex: 1;
    align-content: center;
    padding: 0 5px;

}
.f-2{
    flex:2;
}
.f-3{
    flex:3;
}
.f-4{
    flex:4;
}
.pm-download{
    margin-left: 30px;
}
.pm-download:before{
    content: "";
    position: relative;
    left: -30px;
    background: url(/images/down.png);
}
