html{
    height: 100vh;
}
body, #root{
    height: 100%;
    overflow-y: hidden;
}
.container{
    height: 100%;
    background-color: #000;
    color: #ffffff;
    text-align: center;
    padding:20px 0;
}
.matrix{
    display: flex;
    flex-flow: column;
    margin: 70px auto 10px;
    width: 300px;
    position: relative;
}
.row{
    display: flex;
    flex-flow: row;
}
.row div{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 94px;
    height: 94px;
    margin: 3px;
    border: 1px solid #e2e099;
}
.row div:hover{
    border-color: #09c5e0;
    color: #09c5e0;
}
.buttons{
    position: absolute;
    top: -50px;
    left: -50px;
    width: 40px;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
}
.buttons-col{
    height: 302px;
    top: 0;
}
.buttons-row{
    width: 300px;
    height: 40px;
    left: 0;
    flex-flow: row;
}
.btn-diag{
    height: 402px;
    justify-content: space-between;
}
.btn{
    width: 40px;
    height: 40px;
    background: none;
    border: 1px solid #09c5e0;
    border-radius: 5px;
    color: #FFF;
    word-wrap: break-word;
    font-size: 14px;
    cursor:pointer;
}
.btn:hover{
    border-color: #FFF;
    transition: 0.2s;
    color: #09c5e0;
}