html{
    height: 100vh;
    background-color: #000;
}
body{
    width: 100%;
    height: 100%;
    margin: 0;
    /*overflow-y: hidden;*/
}
#root{
    width: 100%;
    padding: 20px 0;

}
.container{
    /*outline: 1px solid red;*/
    margin: 0 auto;
    width: 400px;
    height: 100%;
    color: #ffffff;
    text-align: center;
}
.matrix{
    /*outline: 1px solid red;*/
    display: flex;
    flex-flow: column;
    margin: 70px auto 10px;
    width: 300px;
    position: relative;
}
.row{
    display: flex;
    flex-flow: row;
}
.row div{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 94px;
    height: 94px;
    margin: 3px;
    border: 1px solid #e2e099;
    font-size: 14px;
}
.row div:hover{
    border-color: #09c5e0;
    color: #09c5e0;
}
.buttons{
    position: absolute;
    top: -50px;
    left: -50px;
    width: 40px;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: center;
}
.buttons-col{
    height: 306px;
    top: 0;
    /*outline: 1px solid red;*/
}
.buttons-row{
    /*outline: 1px solid red;*/
    width: 300px;
    height: 40px;
    left: 0;
    flex-flow: row;
}
.btn-diag{
    /*outline: 1px solid red;*/
    height: 408px;
    justify-content: space-between;
}
.btn{
    width: 40px;
    height: 40px;
    background: none;
    border: 1px solid #747474;
    border-radius: 5px;
    color: #747474;
    word-wrap: break-word;
    font-size: 14px;
    cursor:pointer;
}
.btn:hover{
    border-color: #09c5e0;
    transition: 0.2s;
    color: #09c5e0;
}
@media screen and (max-width: 520px){
    .container{
        width: 300px;
    }
    .matrix{
        width: 210px;
    }
    .buttons-col{
        left: -45px;
        height: 216px;
    }
    .buttons-row{
        top:-45px;
        width: 210px;
    }
    .btn-diag{
        top:-45px;
        left: -45px;
        left: -45px;
        height: 306px;
    }
    .row div{
        width:66px;
        height:66px;
        margin:2px;
    }
}