.matrix{
    display: flex;
    flex-flow: column;
    margin: 30px auto;
    width: 300px;
}
.row{
    display: flex;
    flex-flow: row;
}
.row div{
    width: 100px;
    padding: 10px 5px;
    border: 1px solid yellow;
    text-align: center;
}