.main-screen{
    background: #f2aaf2;
}
.main-block__image{
    width: 250px;
    height: 548px;
    top: 146px;
    left: 459px;
    perspective: 1000px;
    border-radius: 15px;
}
.main-background__video-new{
    position: absolute;
    top: 8px;
    left: 0;
    height: 502px;
    /* min-height: 100%; */
    width: 250px;
    object-fit: contain;
    z-index: -1;
    transform-style: preserve-3d;
    transform: rotateY(-40deg);
    transition: 1s;
}
.main-block-container{
    margin-bottom: 200px;
}
.main-bg-overlay__image, .main-bg-overlay__image--1, .main-bg-overlay__image--2{
    position: absolute;
    top: 0;
    left: 0;
    height: 520px;
    /* min-height: 100%; */
    width: 250px;
    object-fit: contain;
    transform-style: preserve-3d;
    transform: rotateY(-40deg);
    transition: 1s;
}
.main-bg-overlay__image--1{
    transform: rotateY(-40deg) translateZ(-40px);
    z-index: -2;
    top: 10px;
    height: 500px;
}
.main-bg-overlay__image--2{
    transform:  rotateY(-40deg) translateZ(-80px);
    z-index: -3;
    height: 480px;
    top: 20px;
}
@media screen and (max-width: 767px) and (min-width: 320px){
    .main-block-container{
        margin-bottom: 600px;
    }
    .main-block__image{
        /* width: 420px; */
        /* height: 420px; */
        top: 498px;
        left: 0;
    }
}
.main-block__image:hover{
    perspective: 0;
}
.main-block__image:hover .main-bg-overlay__image, .main-block__image:hover .main-bg-overlay__image--1, .main-block__image:hover .main-bg-overlay__image--2, .main-block__image:hover .main-background__video-new{
    transform:  rotateY(0);
    transition: 1s;
}
